{% load subject_form_tags %}
{% subject_checkbox_control_i18n as checkbox_control_i18n %}
<div class="{{ choice_list_class }}{% if field.classes %} {{ field.classes }}{% endif %}"
     data-submitted-diff-control="checkbox"
     {% if field.style %}style="{{ field.style }}"{% endif %}>
    {% for option in field.options %}
        <label>
            <input type="checkbox"
                   name="{{ field.field_key }}"
                   value="{{ option.value }}"
                   disabled
                   {% if option.value in field.selected_values %}checked{% elif field.is_checked and forloop.first %}checked{% endif %} />
            {{ option.label|default:field.label }}
        </label>
    {% empty %}
        <label>
            <input type="checkbox"
                   name="{{ field.field_key }}"
                   disabled
                   {% if field.is_checked %}checked{% endif %} />
            {{ field.label|default:checkbox_control_i18n.default_label }}
        </label>
    {% endfor %}
</div>
