{% load subject_form_tags %}
{% subject_multi_select_control_i18n as multi_select_control_i18n %}
<div class="{{ choice_list_class }}{% if field.classes %} {{ field.classes }}{% endif %}"
     data-submitted-diff-multi-select
     data-submitted-diff-control="multi-select"
     {% if field.style %}style="{{ field.style }}"{% endif %}>
    {% for option in field.options %}
        <label>
            <input type="checkbox"
                   value="{{ option.value }}"
                   disabled
                   {% if option.value in field.selected_values %}checked{% endif %} />
            {{ option.label }}
        </label>
    {% empty %}
        <span>{{ multi_select_control_i18n.empty_option }}</span>
    {% endfor %}
</div>
