{% load subject_form_tags %}
{% subject_select2_control_i18n as select2_control_i18n %}
<input type="hidden"
       name="{{ field.field_key }}"
       tabindex="{% subject_control_tabindex field 0 %}"
       value="{{ field.value }}"
       data-field-lookup-value-input>
<input type="text"
       class="{{ input_class }}{% if field.classes %} {{ field.classes }}{% endif %}"
       tabindex="{% subject_control_tabindex field 1 %}"
       value="{{ field.display_value|default:field.value }}"
       placeholder="{{ select2_control_i18n.placeholder }}"
       data-submitted-diff-select2
       data-submitted-diff-control="select2"
       data-field-lookup-label-input
       data-field-lookup-key="{{ field.lookup_key }}"
       data-field-lookup-url="/api/fields/values?study_id={{ shared_study_selected_id }}&study_site_id={{ shared_site_selected_id }}"
       list="field-lookup-options-{{ field.id }}"
       autocomplete="off"
       {% if field.style %}style="{{ field.style }}"{% endif %}
       disabled>
<datalist id="field-lookup-options-{{ field.id }}" data-field-lookup-options></datalist>
