{% load subject_form_tags %}
{% subject_select_control_i18n as select_control_i18n %}
{% subject_control_tabindex field 0 as control_tabindex %}
<select class="{{ input_class }}{% if field.classes %} {{ field.classes }}{% endif %}"
        tabindex="{{ control_tabindex }}"
        data-submitted-diff-select
        data-submitted-diff-control="select"
        {% if field.style %}style="{{ field.style }}"{% endif %}
        disabled>
    <option value="">{{ select_control_i18n.empty_option }}</option>
    {% for option in field.options %}
        <option value="{{ option.value }}"{% if option.value == field.value %} selected{% endif %}>{{ option.label }}</option>
    {% endfor %}
</select>
