{% load subject_form_tags %}
{% subject_textarea_control_i18n as textarea_control_i18n %}
<textarea class="{{ textarea_class }}{% if field.classes %} {{ field.classes }}{% endif %}"
          data-submitted-diff-textarea
          data-submitted-diff-control="textarea"
          {% if field.style %}style="{{ field.style }}"{% endif %}
          rows="{{ textarea_rows|default:'3' }}"
          readonly
          placeholder="{{ field.placeholder_text|default:textarea_control_i18n.placeholder }}">{{ field.value }}</textarea>
