{% extends "shared/_layout.html" %}
{% load i18n static %}
{% block title %}
    {% trans "Users | Vanguardian" %}
{% endblock %}
{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static 'shared/css/components/common-table.css' %}">
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'shared/js/components/common-table.js' %}"></script>
{% endblock %}
{% block dashboard_content %}
    <section class="entity-table-panel">
        {% include "shared/components/_entity_table_toolbar.html" with toolbar=users_table_toolbar %}
        {% include "shared/components/_common_table.html" with headers=users_table_headers rows=users_table_rows empty_text=users_empty_text sortable_columns=users_table_sortable_columns sort_key=users_table_sort_key sort_direction=users_table_sort_direction sort_params=users_table_sort_params enable_detail_click=True %}
        <div class="entity-table__footer">
            {% if auth_user.is_superuser %}
                <a href="{% url 'identity:user_create' %}"
                   class="entity-table__footer-button">{% trans "Add New User" %}</a>
            {% endif %}
        </div>
    </section>
{% endblock %}
