<form method="get" class="entity-table__filter">
  {% include "shared/components/_entity_table_toolbar_hidden_fields.html" with hidden_fields=toolbar_item.hidden_fields %}
  <label for="{{ toolbar_item.id }}" class="entity-table__filter-label">{{ toolbar_item.label }}</label>
  {% include "shared/components/_common_select.html" with select_mode="dropdown" select_id=toolbar_item.id select_name=toolbar_item.name select_wrapper_class=toolbar_item.select_wrapper_class select_display_text=toolbar_item.display_text select_options=toolbar_item.options select_aria_label=toolbar_item.aria_label %}
</form>
