{% load i18n %}
<div class="subject-date-picker">
    <div class="subject-date-picker__part">
        <span class="subject-date-picker__label">{% trans "Day" %}</span>
        <input class="subject-date-picker__input subject-date-picker__input--day"
               type="text"
               readonly
               placeholder="DD"
               value="">
    </div>
    <div class="subject-date-picker__part">
        <span class="subject-date-picker__label">{% trans "Month" %}</span>
        <select class="subject-date-picker__input subject-date-picker__input--month" disabled>
            <option value="">--</option>
            <option value="1">{% trans "January" %}</option>
            <option value="2">{% trans "February" %}</option>
            <option value="3">{% trans "March" %}</option>
            <option value="4">{% trans "April" %}</option>
            <option value="5">{% trans "May" %}</option>
            <option value="6">{% trans "June" %}</option>
            <option value="7">{% trans "July" %}</option>
            <option value="8">{% trans "August" %}</option>
            <option value="9">{% trans "September" %}</option>
            <option value="10">{% trans "October" %}</option>
            <option value="11">{% trans "November" %}</option>
            <option value="12">{% trans "December" %}</option>
        </select>
    </div>
    <div class="subject-date-picker__part">
        <span class="subject-date-picker__label">{% trans "Year" %}</span>
        <input class="subject-date-picker__input subject-date-picker__input--year"
               type="text"
               readonly
               placeholder="YYYY"
               value="">
    </div>
</div>
