{% load i18n subject_form_tags %}
<article class="subject-form-field-card {% if field.classes %}{{ field.classes }}{% endif %}"
         data-field-key="{{ field.field_key }}">
    <h4 class="subject-form-field__title">
        {{ field.label }}
        {% if field.is_required %}
            <span class="subject-form-field-card__required">*</span>
        {% endif %}
        {% if field.helper_text %}
            <p class="subject-form-field-card__helper">{{ field.helper_text }}</p>
        {% endif %}
    </h4>
    <div class="subject-form-field-card__control">
        {% subject_control_template field.control_type as control_template %}
        {% if control_template %}
            {% include control_template with field=field input_class="subject-form-field-card__input" textarea_class="subject-form-field-card__textarea" choice_list_class="subject-form-field-card__choice-list" readonly_input_class="subject-form-field-card__input subject-form-field-card__input--readonly" %}
        {% else %}
            <div class="subject-form-field-card__unsupported">
                {% trans 'Unsupported control type:' %} {{ field.raw_control_type|default:'N/A' }}
            </div>
        {% endif %}
    </div>
</article>
