{% extends "shared/_layout.html" %}
{% load i18n static %}
{% load render_table from django_tables2 %}
{% block title %}
    {% trans "Data Queries | Vanguardian" %}
{% endblock %}
{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static 'reconcile/css/query_workbench.css' %}">
{% endblock %}
{% block dashboard_content %}
    <section class="query-workbench">
        <section class="entity-table-panel">
            <form method="get" class="entity-table__toolbar">
                {% include "shared/components/_entity_table_toolbar_icon.html" %}
                {% for field in filter_form %}
                    {% if field.name != "search" %}
                        <span class="entity-table__toolbar-divider" aria-hidden="true"></span>
                        {{ field }}
                    {% endif %}
                {% endfor %}
                {{ filter_form.search }}
            </form>
            {% if show_validation_issues %}
                {% render_table validation_issue_table %}
            {% else %}
                {% render_table table %}
            {% endif %}
        </section>
        {% include "reconcile/includes/query_action_modal.html" %}
    </section>
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'reconcile/js/query_actions.js' %}"></script>
{% endblock %}
