{% extends "shared/_layout.html" %}
{% load i18n static %}
{% load render_table from django_tables2 %}
{% block title %}
    {{ detail_study.code }} | {% trans "CRF Templates | Vanguardian" %}
{% endblock %}
{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'study/css/crf_templates.css' %}">
{% endblock %}
{% block dashboard_breadcrumb_prefix %}
    <a href="{{ detail_study.back_url }}" class="dashboard-breadcrumb__back">{% trans "Studies" %}</a>
{% endblock %}
{% block dashboard_content %}
    <section class="entity-table-panel">
        {% include "study/components/_study_detail_tabs.html" with study_active_tab="crf_templates" %}
        {% include "shared/components/_entity_table_toolbar.html" with toolbar=crf_templates_table_toolbar %}
        {% render_table crf_templates_table %}
        <div class="entity-table__footer entity-table__footer--actions">
            <button type="button"
                    class="entity-table__footer-button entity-table__footer-button--secondary"
                    data-modal-open="modal-import-crftemplates">{% trans "Import By Template" %}</button>
            <button type="button"
                    class="entity-table__footer-button entity-table__footer-button--secondary"
                    data-modal-open="modal-import-crf-template-fields">{% trans "Import Template Fields" %}</button>
            <button type="button"
                    class="entity-table__footer-button entity-table__footer-button--secondary"
                    data-modal-open="modal-import-crf-section-layout-configs">
                {% trans "Import Section Layout Config" %}
            </button>
            <button type="button"
                    class="entity-table__footer-button entity-table__footer-button--secondary"
                    data-modal-open="modal-import-crf-validation-rules">
                {% trans "Import Validation Rules" %}
            </button>
        </div>
    </section>
    {% include "study/components/_crf_template_import_modal.html" %}
    {% include "study/components/_crf_template_field_import_modal.html" %}
    {% include "study/components/_crf_section_layout_config_import_modal.html" %}
    {% include "study/components/_crf_validation_rule_import_modal.html" %}
{% endblock %}
